In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/taylor/.local/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/taylor/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# Get argus flows from PCAPs
!../util/process_data_argus.sh

ra[35862]: 13:42:13.493595 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
*** buffer overflow detected ***: terminated
../util/process_data_argus.sh: line 3: 35874 Aborted                 (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
../util/process_data_argus.sh: line 3: 35887 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[35898]: 13:42:19.668818 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 35910 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
../util/process_data_argus.sh: line 3: 35921 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
../util/process_data_argus.sh: line 3: 35938 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[35950]: 13:42:28.949262 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[35956]: 13:42:29.958974 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[35962]: 13:42:30.966670 ArgusGenerateRecordStruct: post ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 35969 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[35980]: 13:42:34.053864 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 35986 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[35997]: 13:42:37.145789 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 36005 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
mkdir: cannot create directory ‘data/argus’: File exists
mkdir: cannot create directory ‘data/argus/csv’: File exists

In [3]:
# PCAP to CSV
!../util/pcap_to_csv.sh

mkdir: cannot create directory ‘data/csv’: File exists

In [4]:
# PCAPNG to CSV
!../util/pcapng_to_csv.sh

mkdir: cannot create directory ‘data/csv’: File exists

In [5]:
from os import listdir
from os.path import isfile, join

def getFilenames(path):
    return [path+f for f in listdir(path) if isfile(join(path, f))]

In [6]:
# Get argus data
arguspath = "data/argus/csv/"
argusCSVs = getFilenames(arguspath)

# Get pcap data
pcappath = "data/csv/"
pcapCSVs = getFilenames(pcappath)
data = argusCSVs + pcapCSVs

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv (pcapCSVs[0])
df

,frame.number,frame.time,ip.src,ip.dst,ip.proto,frame.len
0,1,"Nov 30, 2022 11:56:54.370616000 EST",NaN,NaN,NaN,70
1,2,"Nov 30, 2022 11:56:54.434739000 EST",NaN,NaN,NaN,42
2,3,"Nov 30, 2022 11:56:55.586826000 EST",NaN,NaN,NaN,42
3,4,"Nov 30, 2022 11:56:56.606893000 EST",NaN,NaN,NaN,42
4,5,"Nov 30, 2022 11:56:57.630806000 EST",NaN,NaN,NaN,42
...,...,...,...,...,...,...
190,191,"Nov 30, 2022 12:28:28.137566000 EST",NaN,NaN,NaN,60
191,192,"Nov 30, 2022 12:28:41.958526000 EST",NaN,NaN,NaN,60
192,193,"Nov 30, 2022 12:28:55.950718000 EST",NaN,NaN,NaN,60
193,194,"Nov 30, 2022 12:29:08.739730000 EST",NaN,NaN,NaN,60
194,195,"Nov 30, 2022 12:29:22.177452000 EST",NaN,NaN,NaN,60

In [9]:
data

['data/argus/csv/from_sus_18.csv',
 'data/argus/csv/maybe_11.csv',
 'data/argus/csv/maybe_8.csv.rpls.csv',
 'data/argus/csv/from_sus_5.csv.rpls.csv',
 'data/argus/csv/maybe_23.csv.rpls.csv',
 'data/argus/csv/from_sus_17.csv',
 'data/argus/csv/test_1.csv',
 'data/argus/csv/test_14.csv.rpls.csv',
 'data/argus/csv/test_16.csv',
 'data/argus/csv/maybe_5.csv.rpls.csv',
 'data/argus/csv/test_8.csv',
 'data/argus/csv/test_3.csv.rpls.csv',
 'data/argus/csv/maybe_0.csv',
 'data/argus/csv/from_sus_19.csv.rpls.csv',
 'data/argus/csv/from_sus_10.csv',
 'data/argus/csv/maybe_21.csv',
 'data/argus/csv/from_sus_7.csv',
 'data/argus/csv/test_20.csv',
 'data/argus/csv/test_26.csv.rpls.csv',
 'data/argus/csv/maybe_27.csv',
 'data/argus/csv/maybe_22.csv',
 'data/argus/csv/maybe_24.csv',
 'data/argus/csv/sld.csv',
 'data/argus/csv/4uthority1-127.0.0.1.csv',
 'data/argus/csv/from_sus_12.csv',
 'data/argus/csv/test_14.csv',
 'data/argus/csv/test_23.csv.rpls.csv',
 'data/argus/csv/test_26.csv',
 'data/argus/csv/from_sus_15.csv.rpls.csv',
 'data/argus/csv/myMarkovClient1-102.0.0.11.csv',
 'data/argus/csv/server.csv',
 'data/argus/csv/relay3guard-127.0.0.1.csv',
 'data/argus/csv/test_18.csv',
 'data/argus/csv/from_sus_20.csv.rpls.csv',
 'data/argus/csv/from_sus_21.csv.rpls.csv',
 'data/argus/csv/test_15.csv',
 'data/argus/csv/maybe_16.csv',
 'data/argus/csv/maybe_2.csv.rpls.csv',
 'data/argus/csv/relay1exitguard-127.0.0.1.csv',
 'data/argus/csv/4uthority1-100.0.0.1.csv',
 'data/argus/csv/maybe_3.csv.rpls.csv',
 'data/argus/csv/from_sus_11.csv.rpls.csv',
 'data/argus/csv/from_sus_5.csv',
 'data/argus/csv/test_21.csv.rpls.csv',
 'data/argus/csv/maybe_7.csv',
 'data/argus/csv/from_sus_9.csv.rpls.csv',
 'data/argus/csv/from_sus_10.csv.rpls.csv',
 'data/argus/csv/4uthority2-127.0.0.1.csv',
 'data/argus/csv/from_sus_6.csv.rpls.csv',
 'data/argus/csv/test_10.csv',
 'data/argus/csv/from_sus_25.csv.rpls.csv',
 'data/argus/csv/test_0.csv.rpls.csv',
 'data/argus/csv/maybe_26.csv',
 'data/argus/csv/from_sus_13.csv',
 'data/argus/csv/test_22.csv',
 'data/argus/csv/from_sus_20.csv',
 'data/argus/csv/from_sus_8.csv',
 'data/argus/csv/test_19.csv.rpls.csv',
 'data/argus/csv/from_sus_25.csv',
 'data/argus/csv/from_sus_14.csv.rpls.csv',
 'data/argus/csv/test_3.csv',
 'data/argus/csv/from_sus_22.csv.rpls.csv',
 'data/argus/csv/maybe_25.csv.rpls.csv',
 'data/argus/csv/root-server.csv',
 'data/argus/csv/maybe_14.csv.rpls.csv',
 'data/argus/csv/from_sus_3.csv',
 'data/argus/csv/maybe_11.csv.rpls.csv',
 'data/argus/csv/maybe_3.csv',
 'data/argus/csv/maybe_4.csv.rpls.csv',
 'data/argus/csv/test_25.csv',
 'data/argus/csv/test_17.csv.rpls.csv',
 'data/argus/csv/test_17.csv',
 'data/argus/csv/maybe_19.csv',
 'data/argus/csv/maybe_22.csv.rpls.csv',
 'data/argus/csv/from_sus_6.csv',
 'data/argus/csv/relay4middle-172.105.37.110.csv',
 'data/argus/csv/maybe_8.csv',
 'data/argus/csv/test_4.csv',
 'data/argus/csv/maybe_21.csv.rpls.csv',
 'data/argus/csv/test_25.csv.rpls.csv',
 'data/argus/csv/maybe_10.csv.rpls.csv',
 'data/argus/csv/from_sus_2.csv',
 'data/argus/csv/4uthority3-100.0.0.3.csv',
 'data/argus/csv/myMarkovServer0-101.0.0.10.csv',
 'data/argus/csv/from_sus_4.csv.rpls.csv',
 'data/argus/csv/test_10.csv.rpls.csv',
 'data/argus/csv/maybe_14.csv',
 'data/argus/csv/maybe_17.csv.rpls.csv',
 'data/argus/csv/from_sus_24.csv.rpls.csv',
 'data/argus/csv/test_7.csv.rpls.csv',
 'data/argus/csv/from_sus_2.csv.rpls.csv',
 'data/argus/csv/maybe_24.csv.rpls.csv',
 'data/argus/csv/test_13.csv',
 'data/argus/csv/from_sus_21.csv',
 'data/argus/csv/from_sus_0.csv',
 'data/argus/csv/test_11.csv.rpls.csv',
 'data/argus/csv/maybe_19.csv.rpls.csv',
 'data/argus/csv/test_11.csv',
 'data/argus/csv/from_sus_7.csv.rpls.csv',
 'data/argus/csv/from_sus_1.csv.rpls.csv',
 'data/argus/csv/4uthority2-100.0.0.2.csv',
 'data/argus/csv/maybe_13.csv',
 'data/argus/csv/test_13.csv.rpls.csv',
 'data/argus/csv/test_1.csv.rpls.csv',
 'data/argus/csv/relay3guard-198.98.54.15.csv',
 'data/argus/csv/test_9.csv',
 'data/argus/csv/maybe_9.csv',
 'data/argus/csv/test_9.csv.rpls.csv',
 'data/argus/csv/test_24.csv',
 'data/argus/csv/maybe_13.csv.rpls.csv',
 'data/argus/csv/from_sus_1.csv',
 'data/argus/csv/test_7.csv',
 'data/argus/csv/client-to-isp.csv',
 'data/argus/csv/myMarkovClient1-127.0.0.1.csv',
 'data/argus/csv/from_sus_24.csv',
 'data/argus/csv/test_2.csv.rpls.csv',
 'data/argus/csv/maybe_10.csv',
 'data/argus/csv/from_sus_11.csv',
 'data/argus/csv/test_6.csv',
 'data/argus/csv/test_15.csv.rpls.csv',
 'data/argus/csv/maybe_15.csv.rpls.csv',
 'data/argus/csv/maybe_18.csv.rpls.csv',
 'data/argus/csv/maybe_23.csv',
 'data/argus/csv/test_21.csv',
 'data/argus/csv/from_sus_8.csv.rpls.csv',
 'data/argus/csv/from_sus_0.csv.rpls.csv',
 'data/argus/csv/test_8.csv.rpls.csv',
 'data/argus/csv/maybe_1.csv',
 'data/argus/csv/4uthority3-127.0.0.1.csv',
 'data/argus/csv/from_sus_27.csv',
 'data/argus/csv/relay4middle-127.0.0.1.csv',
 'data/argus/csv/tld.csv',
 'data/argus/csv/from_sus_18.csv.rpls.csv',
 'data/argus/csv/maybe_7.csv.rpls.csv',
 'data/argus/csv/from_sus_4.csv',
 'data/argus/csv/test_18.csv.rpls.csv',
 'data/argus/csv/test_19.csv',
 'data/argus/csv/from_sus_15.csv',
 'data/argus/csv/from_sus_26.csv',
 'data/argus/csv/test_12.csv',
 'data/argus/csv/from_sus_22.csv',
 'data/argus/csv/from_sus_26.csv.rpls.csv',
 'data/argus/csv/maybe_20.csv',
 'data/argus/csv/test_27.csv',
 'data/argus/csv/test_22.csv.rpls.csv',
 'data/argus/csv/from_sus_3.csv.rpls.csv',
 'data/argus/csv/maybe_5.csv',
 'data/argus/csv/maybe_0.csv.rpls.csv',
 'data/argus/csv/maybe_6.csv',
 'data/argus/csv/from_sus_9.csv',
 'data/argus/csv/test_24.csv.rpls.csv',
 'data/argus/csv/test_27.csv.rpls.csv',
 'data/argus/csv/test_6.csv.rpls.csv',
 'data/argus/csv/test_0.csv',
 'data/argus/csv/test_5.csv',
 'data/argus/csv/from_sus_17.csv.rpls.csv',
 'data/argus/csv/from_sus_23.csv.rpls.csv',
 'data/argus/csv/test_2.csv',
 'data/argus/csv/maybe_27.csv.rpls.csv',
 'data/argus/csv/from_sus_23.csv',
 'data/argus/csv/maybe_18.csv',
 'data/argus/csv/from_sus_19.csv',
 'data/argus/csv/maybe_26.csv.rpls.csv',
 'data/argus/csv/maybe_25.csv',
 'data/argus/csv/from_sus_13.csv.rpls.csv',
 'data/argus/csv/test_4.csv.rpls.csv',
 'data/argus/csv/maybe_6.csv.rpls.csv',
 'data/argus/csv/maybe_17.csv',
 'data/argus/csv/from_sus_16.csv',
 'data/argus/csv/relay2exit-212.109.197.1.csv',
 'data/argus/csv/maybe_15.csv',
 'data/argus/csv/from_sus_27.csv.rpls.csv',
 'data/argus/csv/maybe_9.csv.rpls.csv',
 'data/argus/csv/maybe_4.csv',
 'data/argus/csv/maybe_12.csv',
 'data/argus/csv/myMarkovServer0-127.0.0.1.csv',
 'data/argus/csv/lo-resolver.csv',
 'data/argus/csv/test_5.csv.rpls.csv',
 'data/argus/csv/relay2exit-127.0.0.1.csv',
 'data/argus/csv/maybe_1.csv.rpls.csv',
 'data/argus/csv/relay1exitguard-51.210.242.54.csv',
 'data/argus/csv/test_23.csv',
 'data/argus/csv/maybe_2.csv',
 'data/argus/csv/from_sus_14.csv',
 'data/csv/sld.csv',
 'data/csv/4uthority1-127.0.0.1.csv',
 'data/csv/myMarkovClient1-102.0.0.11.csv',
 'data/csv/server.csv',
 'data/csv/relay3guard-127.0.0.1.csv',
 'data/csv/relay1exitguard-127.0.0.1.csv',
 'data/csv/4uthority1-100.0.0.1.csv',
 'data/csv/4uthority2-127.0.0.1.csv',
 'data/csv/root-server.csv',
 'data/csv/relay4middle-172.105.37.110.csv',
 'data/csv/4uthority3-100.0.0.3.csv',
 'data/csv/myMarkovServer0-101.0.0.10.csv',
 'data/csv/4uthority2-100.0.0.2.csv',
 'data/csv/relay3guard-198.98.54.15.csv',
 'data/csv/client-to-isp.csv',
 'data/csv/myMarkovClient1-127.0.0.1.csv',
 'data/csv/4uthority3-127.0.0.1.csv',
 'data/csv/relay4middle-127.0.0.1.csv',
 'data/csv/tld.csv',
 'data/csv/relay2exit-212.109.197.1.csv',
 'data/csv/myMarkovServer0-127.0.0.1.csv',
 'data/csv/lo-resolver.csv',
 'data/csv/relay2exit-127.0.0.1.csv',
 'data/csv/relay1exitguard-51.210.242.54.csv']

In [10]:
argusCSVs

['data/argus/csv/from_sus_18.csv',
 'data/argus/csv/maybe_11.csv',
 'data/argus/csv/maybe_8.csv.rpls.csv',
 'data/argus/csv/from_sus_5.csv.rpls.csv',
 'data/argus/csv/maybe_23.csv.rpls.csv',
 'data/argus/csv/from_sus_17.csv',
 'data/argus/csv/test_1.csv',
 'data/argus/csv/test_14.csv.rpls.csv',
 'data/argus/csv/test_16.csv',
 'data/argus/csv/maybe_5.csv.rpls.csv',
 'data/argus/csv/test_8.csv',
 'data/argus/csv/test_3.csv.rpls.csv',
 'data/argus/csv/maybe_0.csv',
 'data/argus/csv/from_sus_19.csv.rpls.csv',
 'data/argus/csv/from_sus_10.csv',
 'data/argus/csv/maybe_21.csv',
 'data/argus/csv/from_sus_7.csv',
 'data/argus/csv/test_20.csv',
 'data/argus/csv/test_26.csv.rpls.csv',
 'data/argus/csv/maybe_27.csv',
 'data/argus/csv/maybe_22.csv',
 'data/argus/csv/maybe_24.csv',
 'data/argus/csv/sld.csv',
 'data/argus/csv/4uthority1-127.0.0.1.csv',
 'data/argus/csv/from_sus_12.csv',
 'data/argus/csv/test_14.csv',
 'data/argus/csv/test_23.csv.rpls.csv',
 'data/argus/csv/test_26.csv',
 'data/argus/csv/from_sus_15.csv.rpls.csv',
 'data/argus/csv/myMarkovClient1-102.0.0.11.csv',
 'data/argus/csv/server.csv',
 'data/argus/csv/relay3guard-127.0.0.1.csv',
 'data/argus/csv/test_18.csv',
 'data/argus/csv/from_sus_20.csv.rpls.csv',
 'data/argus/csv/from_sus_21.csv.rpls.csv',
 'data/argus/csv/test_15.csv',
 'data/argus/csv/maybe_16.csv',
 'data/argus/csv/maybe_2.csv.rpls.csv',
 'data/argus/csv/relay1exitguard-127.0.0.1.csv',
 'data/argus/csv/4uthority1-100.0.0.1.csv',
 'data/argus/csv/maybe_3.csv.rpls.csv',
 'data/argus/csv/from_sus_11.csv.rpls.csv',
 'data/argus/csv/from_sus_5.csv',
 'data/argus/csv/test_21.csv.rpls.csv',
 'data/argus/csv/maybe_7.csv',
 'data/argus/csv/from_sus_9.csv.rpls.csv',
 'data/argus/csv/from_sus_10.csv.rpls.csv',
 'data/argus/csv/4uthority2-127.0.0.1.csv',
 'data/argus/csv/from_sus_6.csv.rpls.csv',
 'data/argus/csv/test_10.csv',
 'data/argus/csv/from_sus_25.csv.rpls.csv',
 'data/argus/csv/test_0.csv.rpls.csv',
 'data/argus/csv/maybe_26.csv',
 'data/argus/csv/from_sus_13.csv',
 'data/argus/csv/test_22.csv',
 'data/argus/csv/from_sus_20.csv',
 'data/argus/csv/from_sus_8.csv',
 'data/argus/csv/test_19.csv.rpls.csv',
 'data/argus/csv/from_sus_25.csv',
 'data/argus/csv/from_sus_14.csv.rpls.csv',
 'data/argus/csv/test_3.csv',
 'data/argus/csv/from_sus_22.csv.rpls.csv',
 'data/argus/csv/maybe_25.csv.rpls.csv',
 'data/argus/csv/root-server.csv',
 'data/argus/csv/maybe_14.csv.rpls.csv',
 'data/argus/csv/from_sus_3.csv',
 'data/argus/csv/maybe_11.csv.rpls.csv',
 'data/argus/csv/maybe_3.csv',
 'data/argus/csv/maybe_4.csv.rpls.csv',
 'data/argus/csv/test_25.csv',
 'data/argus/csv/test_17.csv.rpls.csv',
 'data/argus/csv/test_17.csv',
 'data/argus/csv/maybe_19.csv',
 'data/argus/csv/maybe_22.csv.rpls.csv',
 'data/argus/csv/from_sus_6.csv',
 'data/argus/csv/relay4middle-172.105.37.110.csv',
 'data/argus/csv/maybe_8.csv',
 'data/argus/csv/test_4.csv',
 'data/argus/csv/maybe_21.csv.rpls.csv',
 'data/argus/csv/test_25.csv.rpls.csv',
 'data/argus/csv/maybe_10.csv.rpls.csv',
 'data/argus/csv/from_sus_2.csv',
 'data/argus/csv/4uthority3-100.0.0.3.csv',
 'data/argus/csv/myMarkovServer0-101.0.0.10.csv',
 'data/argus/csv/from_sus_4.csv.rpls.csv',
 'data/argus/csv/test_10.csv.rpls.csv',
 'data/argus/csv/maybe_14.csv',
 'data/argus/csv/maybe_17.csv.rpls.csv',
 'data/argus/csv/from_sus_24.csv.rpls.csv',
 'data/argus/csv/test_7.csv.rpls.csv',
 'data/argus/csv/from_sus_2.csv.rpls.csv',
 'data/argus/csv/maybe_24.csv.rpls.csv',
 'data/argus/csv/test_13.csv',
 'data/argus/csv/from_sus_21.csv',
 'data/argus/csv/from_sus_0.csv',
 'data/argus/csv/test_11.csv.rpls.csv',
 'data/argus/csv/maybe_19.csv.rpls.csv',
 'data/argus/csv/test_11.csv',
 'data/argus/csv/from_sus_7.csv.rpls.csv',
 'data/argus/csv/from_sus_1.csv.rpls.csv',
 'data/argus/csv/4uthority2-100.0.0.2.csv',
 'data/argus/csv/maybe_13.csv',
 'data/argus/csv/test_13.csv.rpls.csv',
 'data/argus/csv/test_1.csv.rpls.csv',
 'data/argus/csv/relay3guard-198.98.54.15.csv',
 'data/argus/csv/test_9.csv',
 'data/argus/csv/maybe_9.csv',
 'data/argus/csv/test_9.csv.rpls.csv',
 'data/argus/csv/test_24.csv',
 'data/argus/csv/maybe_13.csv.rpls.csv',
 'data/argus/csv/from_sus_1.csv',
 'data/argus/csv/test_7.csv',
 'data/argus/csv/client-to-isp.csv',
 'data/argus/csv/myMarkovClient1-127.0.0.1.csv',
 'data/argus/csv/from_sus_24.csv',
 'data/argus/csv/test_2.csv.rpls.csv',
 'data/argus/csv/maybe_10.csv',
 'data/argus/csv/from_sus_11.csv',
 'data/argus/csv/test_6.csv',
 'data/argus/csv/test_15.csv.rpls.csv',
 'data/argus/csv/maybe_15.csv.rpls.csv',
 'data/argus/csv/maybe_18.csv.rpls.csv',
 'data/argus/csv/maybe_23.csv',
 'data/argus/csv/test_21.csv',
 'data/argus/csv/from_sus_8.csv.rpls.csv',
 'data/argus/csv/from_sus_0.csv.rpls.csv',
 'data/argus/csv/test_8.csv.rpls.csv',
 'data/argus/csv/maybe_1.csv',
 'data/argus/csv/4uthority3-127.0.0.1.csv',
 'data/argus/csv/from_sus_27.csv',
 'data/argus/csv/relay4middle-127.0.0.1.csv',
 'data/argus/csv/tld.csv',
 'data/argus/csv/from_sus_18.csv.rpls.csv',
 'data/argus/csv/maybe_7.csv.rpls.csv',
 'data/argus/csv/from_sus_4.csv',
 'data/argus/csv/test_18.csv.rpls.csv',
 'data/argus/csv/test_19.csv',
 'data/argus/csv/from_sus_15.csv',
 'data/argus/csv/from_sus_26.csv',
 'data/argus/csv/test_12.csv',
 'data/argus/csv/from_sus_22.csv',
 'data/argus/csv/from_sus_26.csv.rpls.csv',
 'data/argus/csv/maybe_20.csv',
 'data/argus/csv/test_27.csv',
 'data/argus/csv/test_22.csv.rpls.csv',
 'data/argus/csv/from_sus_3.csv.rpls.csv',
 'data/argus/csv/maybe_5.csv',
 'data/argus/csv/maybe_0.csv.rpls.csv',
 'data/argus/csv/maybe_6.csv',
 'data/argus/csv/from_sus_9.csv',
 'data/argus/csv/test_24.csv.rpls.csv',
 'data/argus/csv/test_27.csv.rpls.csv',
 'data/argus/csv/test_6.csv.rpls.csv',
 'data/argus/csv/test_0.csv',
 'data/argus/csv/test_5.csv',
 'data/argus/csv/from_sus_17.csv.rpls.csv',
 'data/argus/csv/from_sus_23.csv.rpls.csv',
 'data/argus/csv/test_2.csv',
 'data/argus/csv/maybe_27.csv.rpls.csv',
 'data/argus/csv/from_sus_23.csv',
 'data/argus/csv/maybe_18.csv',
 'data/argus/csv/from_sus_19.csv',
 'data/argus/csv/maybe_26.csv.rpls.csv',
 'data/argus/csv/maybe_25.csv',
 'data/argus/csv/from_sus_13.csv.rpls.csv',
 'data/argus/csv/test_4.csv.rpls.csv',
 'data/argus/csv/maybe_6.csv.rpls.csv',
 'data/argus/csv/maybe_17.csv',
 'data/argus/csv/from_sus_16.csv',
 'data/argus/csv/relay2exit-212.109.197.1.csv',
 'data/argus/csv/maybe_15.csv',
 'data/argus/csv/from_sus_27.csv.rpls.csv',
 'data/argus/csv/maybe_9.csv.rpls.csv',
 'data/argus/csv/maybe_4.csv',
 'data/argus/csv/maybe_12.csv',
 'data/argus/csv/myMarkovServer0-127.0.0.1.csv',
 'data/argus/csv/lo-resolver.csv',
 'data/argus/csv/test_5.csv.rpls.csv',
 'data/argus/csv/relay2exit-127.0.0.1.csv',
 'data/argus/csv/maybe_1.csv.rpls.csv',
 'data/argus/csv/relay1exitguard-51.210.242.54.csv',
 'data/argus/csv/test_23.csv',
 'data/argus/csv/maybe_2.csv',
 'data/argus/csv/from_sus_14.csv']

In [11]:
# Basic Scopes
import re

# Get all clients and ISP dns scope
r = re.compile(".*isp.csv|.*Client[0-9]*-(?!127\.0\.0\.1)[0-9]*.[0-9]*.[0-9]*.[0-9]*..csv")
ISP_scope = list(filter(r.match, data))

# Access to public resolver scope
r = re.compile(".*isp.csv")
Access_resolver = list(filter(r.match, data))

# DNS Scope
r = re.compile("(.*tld|.*root-server|.*sld).csv")
Access_to_auth_zone = list(filter(r.match, data))

# Access Tor Scope
r = re.compile(".*Client[0-9]*-(?!127\.0\.0\.1)[0-9]*.[0-9]*.[0-9]*.[0-9]*..csv")
Access_tor = list(filter(r.match, data))

# Server Public Scope
r = re.compile(".*myMarkovServer[0-9]*-(?!127\.0\.0\.1)[0-9]*\.[0-9]*\.[0-9]*\.[0-9]*.csv")
Server_scope = list(filter(r.match, data))

# tor Exit scope
r = re.compile(".*exit.*")
Tor_exit_Scope = list(filter(r.match, data))

# tor Guard scope
r = re.compile(".*guard.*")
Tor_guard_Scope = list(filter(r.match, data))

# tor Relay scope
r = re.compile(".*relay.*")
Tor_relay_Scope = list(filter(r.match, data))

# tor Middle scope
r = re.compile(".*middle.*")
Tor_middle_Scope = list(filter(r.match, data))

# tor 4uthority scope
r = re.compile(".*4uthority.*")
Tor_4uthority_Scope = list(filter(r.match, data))
Access_tor

['data/argus/csv/myMarkovClient1-102.0.0.11.csv',
 'data/csv/myMarkovClient1-102.0.0.11.csv']

In [12]:
# !pip install pyts

from pyts.metrics import dtw, itakura_parallelogram, sakoe_chiba_band
from pyts.metrics.dtw import (cost_matrix, accumulated_cost_matrix,
                              _return_path, _blurred_path_region)

def compare_ts(ts1, ts2):
    dtw_classic, path_classic = dtw(ts1, ts2, dist='square',
                                method='classic', return_path=True)
    return dtw_classic

In [13]:
from pyts.datasets import load_gunpoint

X, _, _, _ = load_gunpoint(return_X_y=True)
x, y = X[0], X[1]

In [14]:
compare_ts(x, y)

0.43268499970930435

In [15]:
def get_ts(df, attr_list):
    return 1

In [16]:
def multi_to_single_tda(ts):
    return ts

In [17]:
def pcap_only(lis):
    r = re.compile(".*data/csv.*")
    return list(filter(r.match, lis))

def format_time_col(df, time_col):
    time_format='%b %d, %Y %X.%f'
    df[time_col] = df[time_col].apply(lambda x: datetime.strptime(x[:-7], time_format))
    df.set_index(time_col)
    return df

def scope_to_df(scope):
    df = pd.DataFrame()
    for f in scope:
        ddf = pd.read_csv (f)
        df = pd.concat([df, ddf])
    return df

In [18]:
from datetime import datetime

def df_to_ts(df):
    df['count'] = 1
    return df.set_index('frame.time').resample('T').sum().dropna().reset_index()

In [19]:
# get start time for GNS3
GNS3_data = format_time_col(scope_to_df(pcap_only(Access_resolver + Access_to_auth_zone)), 'frame.time')
GNS3_starttime = GNS3_data.head(1)['frame.time'].tolist()[0]
Shadow_starttime = datetime.strptime('Dec 31, 1969 19:30:00', '%b %d, %Y %X')
Shadow_offset = GNS3_starttime - Shadow_starttime
Shadow_offset

Timedelta('19326 days 16:26:49.390748')

In [20]:
dns_df = format_time_col(scope_to_df(pcap_only(Access_to_auth_zone)), 'frame.time')
# get Just DNS packets from capture
DNS_PROTO = 17.0
dns_df_filtered = dns_df[dns_df['ip.proto'] == DNS_PROTO]
# just get DNS requests
dns_df_filtered = dns_df_filtered[dns_df_filtered['ip.dst'] == "172.16.1.10"]

dns_ts = df_to_ts(dns_df_filtered)
dns_ts

           frame.time  frame.number  ip.proto  frame.len  count
0 2022-11-30 11:58:00           168     119.0        563      7

In [21]:
server_df = format_time_col(scope_to_df(pcap_only(Server_scope)), 'frame.time')

sus_ip = "51.210.242.54"

# Get sus Server posts
TCP_PROTO = 6.0
server_df = server_df[server_df['ip.proto'] == TCP_PROTO]
server_df = server_df[server_df['frame.len'] >64]
server_df['frame.time'] = server_df['frame.time'].apply(lambda x: x + Shadow_offset)

server_df['flowID'] = server_df['ip.src'] + "->"+server_df['ip.dst']

to_sus = server_df[server_df['ip.dst'] == sus_ip].copy()
from_sus = server_df[server_df['ip.src'] == sus_ip].copy()

to_sus_ts = df_to_ts(to_sus)


to_sus_ts

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:56:00             5         6        132      1
1  2022-11-30 11:57:00             0         0          0      0
2  2022-11-30 11:58:00            16         6        132      1
3  2022-11-30 11:59:00             0         0          0      0
4  2022-11-30 12:00:00            27         6        132      1
5  2022-11-30 12:01:00            38         6        132      1
6  2022-11-30 12:02:00            49         6        132      1
7  2022-11-30 12:03:00            60         6        132      1
8  2022-11-30 12:04:00             0         0          0      0
9  2022-11-30 12:05:00            71         6        132      1
10 2022-11-30 12:06:00             0         0          0      0
11 2022-11-30 12:07:00             0         0          0      0
12 2022-11-30 12:08:00             0         0          0      0
13 2022-11-30 12:09:00             0         0          0      0
14 2022-11-30 12:10:00             0         0          0      0
15 2022-11-30 12:11:00             0         0          0      0
16 2022-11-30 12:12:00             0         0          0      0
17 2022-11-30 12:13:00             0         0          0      0
18 2022-11-30 12:14:00             0         0          0      0
19 2022-11-30 12:15:00             0         0          0      0
20 2022-11-30 12:16:00             0         0          0      0
21 2022-11-30 12:17:00             0         0          0      0
22 2022-11-30 12:18:00           159         6        132      1
23 2022-11-30 12:19:00           170         6        132      1
24 2022-11-30 12:20:00           181         6        132      1
25 2022-11-30 12:21:00           192         6        132      1
26 2022-11-30 12:22:00             0         0          0      0
27 2022-11-30 12:23:00           203         6        132      1
28 2022-11-30 12:24:00             0         0          0      0
29 2022-11-30 12:25:00           214         6        132      1

In [22]:
from_sus_ts = df_to_ts(from_sus)
from_sus_ts

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:56:00             4         6        200      1
1  2022-11-30 11:57:00             0         0          0      0
2  2022-11-30 11:58:00            15         6        200      1
3  2022-11-30 11:59:00             0         0          0      0
4  2022-11-30 12:00:00            26         6        201      1
5  2022-11-30 12:01:00            37         6        200      1
6  2022-11-30 12:02:00            48         6        201      1
7  2022-11-30 12:03:00            59         6        200      1
8  2022-11-30 12:04:00             0         0          0      0
9  2022-11-30 12:05:00            70         6        200      1
10 2022-11-30 12:06:00             0         0          0      0
11 2022-11-30 12:07:00             0         0          0      0
12 2022-11-30 12:08:00             0         0          0      0
13 2022-11-30 12:09:00             0         0          0      0
14 2022-11-30 12:10:00             0         0          0      0
15 2022-11-30 12:11:00             0         0          0      0
16 2022-11-30 12:12:00             0         0          0      0
17 2022-11-30 12:13:00             0         0          0      0
18 2022-11-30 12:14:00             0         0          0      0
19 2022-11-30 12:15:00             0         0          0      0
20 2022-11-30 12:16:00             0         0          0      0
21 2022-11-30 12:17:00             0         0          0      0
22 2022-11-30 12:18:00           158         6        200      1
23 2022-11-30 12:19:00           169         6        200      1
24 2022-11-30 12:20:00           180         6        201      1
25 2022-11-30 12:21:00           191         6        200      1
26 2022-11-30 12:22:00             0         0          0      0
27 2022-11-30 12:23:00           202         6        200      1
28 2022-11-30 12:24:00             0         0          0      0
29 2022-11-30 12:25:00           213         6        200      1

In [23]:
# just to confirm DWT is working
compare_ts(to_sus_ts['count'], from_sus_ts['count'])

0.0

In [24]:
from datetime import timedelta
# get sus IPs from DNS
dns_ts_candidates = dns_ts[dns_ts['frame.time'] - from_sus_ts.head(1)['frame.time'] <= timedelta(minutes=2)]
dns_ts_candidates

           frame.time  frame.number  ip.proto  frame.len  count
0 2022-11-30 11:58:00           168     119.0        563      7

In [25]:
# PoL before and after ToR
access_tor_df = format_time_col(scope_to_df(pcap_only(Access_tor)), 'frame.time')

# Get sus Server posts
access_tor_df = access_tor_df[access_tor_df['ip.proto'] == TCP_PROTO]
access_tor_df = access_tor_df[access_tor_df['frame.len'] >1400]
access_tor_df['frame.time'] = access_tor_df['frame.time'].apply(lambda x: x + Shadow_offset)

access_tor_df

,frame.number,frame.time,ip.src,ip.dst,ip.proto,frame.len
8,9,2022-11-30 11:30:50.690748,100.0.0.2,102.0.0.11,6,1500
16,17,2022-11-30 11:30:51.001748,100.0.0.2,102.0.0.11,6,1500
17,18,2022-11-30 11:30:51.001748,100.0.0.2,102.0.0.11,6,1500
22,23,2022-11-30 11:30:51.111748,100.0.0.2,102.0.0.11,6,1500
23,24,2022-11-30 11:30:51.111748,100.0.0.2,102.0.0.11,6,1500
25,26,2022-11-30 11:30:51.111748,100.0.0.2,102.0.0.11,6,1500
36,37,2022-11-30 11:30:51.411748,212.109.197.1,102.0.0.11,6,1500
44,45,2022-11-30 11:30:51.722748,212.109.197.1,102.0.0.11,6,1500
55,56,2022-11-30 11:30:52.690748,198.98.54.15,102.0.0.11,6,1500
84,85,2022-11-30 11:30:54.692074,51.210.242.54,102.0.0.11,6,1500
295,296,2022-11-30 11:33:56.408176,102.0.0.11,198.98.54.15,6,1500
307,308,2022-11-30 11:33:57.408562,102.0.0.11,51.210.242.54,6,1500
398,399,2022-11-30 11:34:58.415386,102.0.0.11,198.98.54.15,6,1500
530,531,2022-11-30 11:37:02.724402,100.0.0.3,102.0.0.11,6,1500
586,587,2022-11-30 11:37:33.428402,102.0.0.11,198.98.54.15,6,1500
698,699,2022-11-30 11:38:35.438248,102.0.0.11,198.98.54.15,6,1500
809,810,2022-11-30 11:40:08.449413,102.0.0.11,51.210.242.54,6,1500
908,909,2022-11-30 11:41:10.456774,102.0.0.11,198.98.54.15,6,1500
994,995,2022-11-30 11:41:53.673694,51.210.242.54,102.0.0.11,6,1500
995,996,2022-11-30 11:41:53.673694,51.210.242.54,102.0.0.11,6,1500
1092,1093,2022-11-30 11:43:14.470786,102.0.0.11,51.210.242.54,6,1500
1121,1122,2022-11-30 11:43:16.772146,100.0.0.2,102.0.0.11,6,1500
1251,1252,2022-11-30 11:44:47.485905,102.0.0.11,198.98.54.15,6,1500
1393,1394,2022-11-30 11:46:20.494259,102.0.0.11,51.210.242.54,6,1500
1579,1580,2022-11-30 11:48:24.512071,102.0.0.11,198.98.54.15,6,1500
1625,1626,2022-11-30 11:48:40.724963,198.98.54.15,102.0.0.11,6,1500
1708,1709,2022-11-30 11:49:26.820145,100.0.0.1,102.0.0.11,6,1500
2042,2043,2022-11-30 11:52:45.545289,102.0.0.11,198.98.54.15,6,1500
2221,2222,2022-11-30 11:54:37.768553,198.98.54.15,102.0.0.11,6,1500
2298,2299,2022-11-30 11:55:38.562082,102.0.0.11,51.210.242.54,6,1500
2371,2372,2022-11-30 11:56:09.564768,102.0.0.11,198.98.54.15,6,1500
2569,2570,2022-11-30 11:58:44.877641,100.0.0.3,102.0.0.11,6,1500
2581,2582,2022-11-30 11:58:45.578311,102.0.0.11,51.210.242.54,6,1500
2633,2634,2022-11-30 11:59:15.582566,102.0.0.11,198.98.54.15,6,1500
2728,2729,2022-11-30 12:00:17.587362,102.0.0.11,198.98.54.15,6,1500
2893,2894,2022-11-30 12:01:50.894748,100.0.0.1,102.0.0.11,6,1500
3115,3116,2022-11-30 12:03:54.614265,102.0.0.11,198.98.54.15,6,1500
3326,3327,2022-11-30 12:05:57.840388,51.210.242.54,102.0.0.11,6,1500
3938,3939,2022-11-30 12:14:41.884272,198.98.54.15,102.0.0.11,6,1500
4562,4563,2022-11-30 12:23:10.934480,51.210.242.54,102.0.0.11,6,1500

In [26]:
# make flow pairs and group by 
access_tor_df['flowID'] = access_tor_df['ip.src'] + "->"+access_tor_df['ip.dst']
d = {}
for name, group in access_tor_df.groupby(['flowID']):
    print(name)
    d[name] = group
    group_ts = df_to_ts(group)
    print(len(group_ts))
    if len(group_ts) > 1:
        print("Sim: " + str(compare_ts(from_sus_ts['count'], group_ts['count'])))
    else:
        print("Sim: inf")
    print("\n")
    # print(compare_ts(from_sus_ts['count'],

100.0.0.1->102.0.0.11
13
Sim: 2.23606797749979


100.0.0.2->102.0.0.11
14
Sim: 5.744562646538029


100.0.0.3->102.0.0.11
22
Sim: 2.23606797749979


102.0.0.11->198.98.54.15
31
Sim: 1.4142135623730951


102.0.0.11->51.210.242.54
26
Sim: 1.0


198.98.54.15->102.0.0.11
45
Sim: 1.7320508075688772


212.109.197.1->102.0.0.11
1
Sim: inf


51.210.242.54->102.0.0.11
54
Sim: 2.0

In [27]:
from_sus_ts

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:56:00             4         6        200      1
1  2022-11-30 11:57:00             0         0          0      0
2  2022-11-30 11:58:00            15         6        200      1
3  2022-11-30 11:59:00             0         0          0      0
4  2022-11-30 12:00:00            26         6        201      1
5  2022-11-30 12:01:00            37         6        200      1
6  2022-11-30 12:02:00            48         6        201      1
7  2022-11-30 12:03:00            59         6        200      1
8  2022-11-30 12:04:00             0         0          0      0
9  2022-11-30 12:05:00            70         6        200      1
10 2022-11-30 12:06:00             0         0          0      0
11 2022-11-30 12:07:00             0         0          0      0
12 2022-11-30 12:08:00             0         0          0      0
13 2022-11-30 12:09:00             0         0          0      0
14 2022-11-30 12:10:00             0         0          0      0
15 2022-11-30 12:11:00             0         0          0      0
16 2022-11-30 12:12:00             0         0          0      0
17 2022-11-30 12:13:00             0         0          0      0
18 2022-11-30 12:14:00             0         0          0      0
19 2022-11-30 12:15:00             0         0          0      0
20 2022-11-30 12:16:00             0         0          0      0
21 2022-11-30 12:17:00             0         0          0      0
22 2022-11-30 12:18:00           158         6        200      1
23 2022-11-30 12:19:00           169         6        200      1
24 2022-11-30 12:20:00           180         6        201      1
25 2022-11-30 12:21:00           191         6        200      1
26 2022-11-30 12:22:00             0         0          0      0
27 2022-11-30 12:23:00           202         6        200      1
28 2022-11-30 12:24:00             0         0          0      0
29 2022-11-30 12:25:00           213         6        200      1

In [28]:
d["102.0.0.11->198.98.54.15"]

,frame.number,frame.time,ip.src,ip.dst,ip.proto,frame.len,flowID,count
295,296,2022-11-30 11:33:56.408176,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
398,399,2022-11-30 11:34:58.415386,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
586,587,2022-11-30 11:37:33.428402,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
698,699,2022-11-30 11:38:35.438248,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
908,909,2022-11-30 11:41:10.456774,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
1251,1252,2022-11-30 11:44:47.485905,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
1579,1580,2022-11-30 11:48:24.512071,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
2042,2043,2022-11-30 11:52:45.545289,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
2371,2372,2022-11-30 11:56:09.564768,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
2633,2634,2022-11-30 11:59:15.582566,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
2728,2729,2022-11-30 12:00:17.587362,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1
3115,3116,2022-11-30 12:03:54.614265,102.0.0.11,198.98.54.15,6,1500,102.0.0.11->198.98.54.15,1

In [29]:
maybe = df_to_ts(d["102.0.0.11->198.98.54.15"])
maybe

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:33:00           296         6       1500      1
1  2022-11-30 11:34:00           399         6       1500      1
2  2022-11-30 11:35:00             0         0          0      0
3  2022-11-30 11:36:00             0         0          0      0
4  2022-11-30 11:37:00           587         6       1500      1
5  2022-11-30 11:38:00           699         6       1500      1
6  2022-11-30 11:39:00             0         0          0      0
7  2022-11-30 11:40:00             0         0          0      0
8  2022-11-30 11:41:00           909         6       1500      1
9  2022-11-30 11:42:00             0         0          0      0
10 2022-11-30 11:43:00             0         0          0      0
11 2022-11-30 11:44:00          1252         6       1500      1
12 2022-11-30 11:45:00             0         0          0      0
13 2022-11-30 11:46:00             0         0          0      0
14 2022-11-30 11:47:00             0         0          0      0
15 2022-11-30 11:48:00          1580         6       1500      1
16 2022-11-30 11:49:00             0         0          0      0
17 2022-11-30 11:50:00             0         0          0      0
18 2022-11-30 11:51:00             0         0          0      0
19 2022-11-30 11:52:00          2043         6       1500      1
20 2022-11-30 11:53:00             0         0          0      0
21 2022-11-30 11:54:00             0         0          0      0
22 2022-11-30 11:55:00             0         0          0      0
23 2022-11-30 11:56:00          2372         6       1500      1
24 2022-11-30 11:57:00             0         0          0      0
25 2022-11-30 11:58:00             0         0          0      0
26 2022-11-30 11:59:00          2634         6       1500      1
27 2022-11-30 12:00:00          2729         6       1500      1
28 2022-11-30 12:01:00             0         0          0      0
29 2022-11-30 12:02:00             0         0          0      0
30 2022-11-30 12:03:00          3116         6       1500      1

In [30]:
compare_ts(from_sus_ts['count'], maybe['count'])

1.4142135623730951

In [31]:
!pip install Cython
!pip install Ripser

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Cython in /home/taylor/.local/lib/python3.10/site-packages (0.29.32)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Ripser in /home/taylor/.local/lib/python3.10/site-packages (0.6.4)
Requirement already satisfied: numpy in /usr/lib/python3/dist-packages (from Ripser) (1.21.5)
Requirement already satisfied: scipy in /usr/lib/python3/dist-packages (from Ripser) (1.8.0)
Requirement already satisfied: scikit-learn in /home/taylor/.local/lib/python3.10/site-packages (from Ripser) (1.1.2)
Requirement already satisfied: Cython in /home/taylor/.local/lib/python3.10/site-packages (from Ripser) (0.29.32)
Requirement already satisfied: persim in /home/taylor/.local/lib/python3.10/site-packages (from Ripser) (0.3.1)
Requirement already satisfied: deprecated in /home/taylor/.local/lib/python3.10/site-packages (from persim->Ripser) (1.2.13)
Requirement already satisfied: joblib in /home/taylor/.local/lib/python3.10/site-packages (from persim->Ripser) (1.1.0)
Requirement already satisfied: matplotlib in /usr/lib/python3/dist-packages (from persim->Ripser) (3.5.1)
Requirement already satisfied: hopcroftkarp in /home/taylor/.local/lib/python3.10/site-packages (from persim->Ripser) (1.2.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/taylor/.local/lib/python3.10/site-packages (from scikit-learn->Ripser) (3.1.0)
Requirement already satisfied: wrapt<2,>=1.10 in /home/taylor/.local/lib/python3.10/site-packages (from deprecated->persim->Ripser) (1.14.1)

In [96]:
import numpy as np
from ripser import ripser
from persim import plot_diagrams
from sklearn import preprocessing

def rip_ts(window, dim, skip, data):
    for_pl = {}
    print("len of data:")
    print(len(data))
    for i in range(0, len(data)-window+1, skip):
        diagrams = ripser(data[i:i+window])['dgms']
        for_pl[i] = diagrams[dim]
    return for_pl

def save_bd_to_files(header, data):
    for d in data:
        np.savetxt(header + "_"+ str(d) + '.csv', data[d], delimiter=" ", fmt="%f")

In [97]:
# read in files to ts
import glob

#l2 norm 
def landscape_to_l2norm(l):
    sum = 0
    for i in range(0, len(l)-1):
        height = abs(l.iloc[i][1] - l.iloc[i+1][1])
        base = abs(l.iloc[i][0] - l.iloc[i+1][0])
        sum += (height*base)/2
    return sum

def rpls_to_ts(header, skip, norm):
    header = header + "_"
    tail = '.csv.rpls.csv'
    files = glob.glob(header+'*'+tail)
    data = {}
    max_num = 0
    for f in files:
        num = int(re.search(header + '(.+?)'+ tail, f).group(1))
        if num > max_num:
            max_num = num
        data[num] = norm(pd.read_csv(f, header=None).dropna())
    max_num += 1
    output = [None] * int((max_num)/skip)
    for i in range(0,max_num, skip):
        if i in data:
            output[int(i/skip)] = data[i]
        else:
            output[int(i/skip)] = 0
    return output

In [98]:
# compute birth death pairs
dim = 0 # must be greater than or equal to 0
window = 3 # must be greater than or equal to 3
skip = 1 # must be greater than or equal to 1

In [104]:
def ts_to_tda(data, features, dim, window, skip, header):
    # select features
    data_2d = data[features].to_numpy()

    # min max normalize features
    data_2d_norm = preprocessing.normalize(data_2d, norm='max', axis=0)

    # compute birth death pairs
    rip_data = rip_ts(window, dim, skip, data_2d_norm)
    save_bd_to_files(header, rip_data)

    !../util/rpls_proccess.sh > /dev/null 2>&1

    data_tda = rpls_to_ts(header, skip, landscape_to_l2norm)
    return data_tda

In [105]:
from_sus_tda = ts_to_tda(from_sus_ts, ['count', 'frame.len'], dim, window, skip, "from_sus")

len of data:
30

In [106]:
maybe_tda = ts_to_tda(maybe, ['count', 'frame.len'], dim, window, skip, "maybe")

len of data:
31

In [107]:
compare_ts(from_sus_tda, maybe_tda)

0.014602239854675082

In [109]:
for i in d:
    print(i)
    ts = df_to_ts(d[i])
    i_tda = ts_to_tda(ts, ['count', 'frame.len'], dim, window, skip, i)
    sim = compare_ts(from_sus_tda, i_tda)
    print(sim)
    print("\n")

100.0.0.1->102.0.0.11
len of data:
13
0.9975763865006569


100.0.0.2->102.0.0.11
len of data:
14
1.3791869333214652


100.0.0.3->102.0.0.11
len of data:
22
0.9975763865006569


102.0.0.11->198.98.54.15
len of data:
31
0.014602239854675082


102.0.0.11->51.210.242.54
len of data:
26
0.7037053341085417


198.98.54.15->102.0.0.11
len of data:
45
0.01180344184794982


212.109.197.1->102.0.0.11
len of data:
1

ValueError: Found array with 1 feature(s) (shape=(28, 1)) while a minimum of 2 is required.