In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/taylor/.local/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/taylor/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# Get argus flows from PCAPs
!../util/process_data_argus.sh

../util/process_data_argus.sh: line 3: 243765 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[243793]: 13:56:31.899340 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[243799]: 13:56:32.908876 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 243805 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[243822]: 13:56:37.010580 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[243828]: 13:56:38.021759 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 243840 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[243851]: 13:56:42.126544 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[243857]: 13:56:43.136579 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[243863]: 13:56:44.144493 ArgusGenerateRecordStruct: post ARGUS_DATA_DSR len is zero
ra[243869]: 13:56:45.155542 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
ra[243875]: 13:56:46.165659 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 243881 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv
ra[243893]: 13:56:49.260061 ArgusGenerateRecordStruct: pre ARGUS_DATA_DSR len is zero
../util/process_data_argus.sh: line 3: 243900 Segmentation fault      (core dumped) ra -r $filename.argus -c',' -s srcid rank stime ltime trans flgs seq dur runtime idle mean stddev sum min max smac dmac soui doui saddr daddr proto sport dport stos dtos sdsb ddsb sco dco sttl dttl shops dhops sipid dipid smpls dmpls autoid sas das ias cause nstroke snstroke dnstroke pkts spkts dpkts bytes sbytes dbytes appbytes sappbytes dappbytes pcr load sload dload loss sloss dloss ploss psloss pdloss retrans sretrans dretrans pretrans psretrans pdretrans sgap dgap rate srate drate dir sintpkt sintdist sintpktact sintdistact sintpktidl sintdistidl dintpkt dintdist dintpktact dintdistact dintpktidl dintdistidl sjit sjitact sjitidle djit djitact djitidle state label suser duser swin dwin svlan dvlan svid dvid svpri dvpri srng erng stcpb dtcpb tcprtt synack ackdat tcpopt inode offset smeansz dmeansz spktsz smaxsz dpktsz dmaxsz sminsz dminsz dminsz > $filename.csv

In [3]:
# PCAP to CSV
!../util/pcap_to_csv.sh

In [4]:
# PCAPNG to CSV
!../util/pcapng_to_csv.sh

mkdir: cannot create directory ‘data/csv’: File exists

In [5]:
from os import listdir
from os.path import isfile, join

def getFilenames(path):
    return [path+f for f in listdir(path) if isfile(join(path, f))]

In [6]:
# Get argus data
arguspath = "data/argus/csv/"
argusCSVs = getFilenames(arguspath)

# Get pcap data
pcappath = "data/csv/"
pcapCSVs = getFilenames(pcappath)
data = argusCSVs + pcapCSVs

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv (pcapCSVs[0])
df

,frame.number,frame.time,ip.src,ip.dst,ip.proto,frame.len
0,1,"Dec 31, 1969 19:00:04.000000000 EST",85.204.116.214,100.0.0.2,6,40
1,2,"Dec 31, 1969 19:00:04.000000000 EST",85.204.116.214,100.0.0.3,6,40
2,3,"Dec 31, 1969 19:00:04.000000000 EST",85.204.116.214,100.0.0.1,6,40
3,4,"Dec 31, 1969 19:00:04.000000000 EST",85.204.116.214,100.0.0.2,6,40
4,5,"Dec 31, 1969 19:00:04.000000000 EST",85.204.116.214,100.0.0.3,6,40
...,...,...,...,...,...,...
5537,5538,"Dec 31, 1969 20:00:00.000000000 EST",85.204.116.214,179.43.160.234,6,40
5538,5539,"Dec 31, 1969 20:00:00.000000000 EST",85.204.116.214,100.0.0.1,6,40
5539,5540,"Dec 31, 1969 20:00:00.000000000 EST",85.204.116.214,102.0.0.11,6,40
5540,5541,"Dec 31, 1969 20:00:00.000000000 EST",85.204.116.214,100.0.0.2,6,40
5541,5542,"Dec 31, 1969 20:00:00.000000000 EST",85.204.116.214,100.0.0.3,6,40

In [9]:
data

['data/argus/csv/relay2exit-85.204.116.214.csv',
 'data/argus/csv/sld.csv',
 'data/argus/csv/4uthority1-127.0.0.1.csv',
 'data/argus/csv/myMarkovClient1-102.0.0.11.csv',
 'data/argus/csv/server.csv',
 'data/argus/csv/relay3guard-127.0.0.1.csv',
 'data/argus/csv/relay4middle-91.219.28.211.csv',
 'data/argus/csv/relay1exitguard-127.0.0.1.csv',
 'data/argus/csv/4uthority1-100.0.0.1.csv',
 'data/argus/csv/4uthority2-127.0.0.1.csv',
 'data/argus/csv/root-server.csv',
 'data/argus/csv/relay3guard-185.82.127.11.csv',
 'data/argus/csv/4uthority3-100.0.0.3.csv',
 'data/argus/csv/myMarkovServer0-101.0.0.10.csv',
 'data/argus/csv/4uthority2-100.0.0.2.csv',
 'data/argus/csv/client-to-isp.csv',
 'data/argus/csv/myMarkovClient1-127.0.0.1.csv',
 'data/argus/csv/4uthority3-127.0.0.1.csv',
 'data/argus/csv/relay4middle-127.0.0.1.csv',
 'data/argus/csv/tld.csv',
 'data/argus/csv/relay1exitguard-179.43.160.234.csv',
 'data/argus/csv/myMarkovServer0-127.0.0.1.csv',
 'data/argus/csv/lo-resolver.csv',
 'data/argus/csv/relay2exit-127.0.0.1.csv',
 'data/csv/relay2exit-85.204.116.214.csv',
 'data/csv/sld.csv',
 'data/csv/4uthority1-127.0.0.1.csv',
 'data/csv/myMarkovClient1-102.0.0.11.csv',
 'data/csv/server.csv',
 'data/csv/relay3guard-127.0.0.1.csv',
 'data/csv/relay4middle-91.219.28.211.csv',
 'data/csv/relay1exitguard-127.0.0.1.csv',
 'data/csv/4uthority1-100.0.0.1.csv',
 'data/csv/4uthority2-127.0.0.1.csv',
 'data/csv/root-server.csv',
 'data/csv/relay3guard-185.82.127.11.csv',
 'data/csv/4uthority3-100.0.0.3.csv',
 'data/csv/myMarkovServer0-101.0.0.10.csv',
 'data/csv/4uthority2-100.0.0.2.csv',
 'data/csv/client-to-isp.csv',
 'data/csv/myMarkovClient1-127.0.0.1.csv',
 'data/csv/4uthority3-127.0.0.1.csv',
 'data/csv/relay4middle-127.0.0.1.csv',
 'data/csv/tld.csv',
 'data/csv/relay1exitguard-179.43.160.234.csv',
 'data/csv/myMarkovServer0-127.0.0.1.csv',
 'data/csv/lo-resolver.csv',
 'data/csv/relay2exit-127.0.0.1.csv']

In [10]:
argusCSVs

['data/argus/csv/relay2exit-85.204.116.214.csv',
 'data/argus/csv/sld.csv',
 'data/argus/csv/4uthority1-127.0.0.1.csv',
 'data/argus/csv/myMarkovClient1-102.0.0.11.csv',
 'data/argus/csv/server.csv',
 'data/argus/csv/relay3guard-127.0.0.1.csv',
 'data/argus/csv/relay4middle-91.219.28.211.csv',
 'data/argus/csv/relay1exitguard-127.0.0.1.csv',
 'data/argus/csv/4uthority1-100.0.0.1.csv',
 'data/argus/csv/4uthority2-127.0.0.1.csv',
 'data/argus/csv/root-server.csv',
 'data/argus/csv/relay3guard-185.82.127.11.csv',
 'data/argus/csv/4uthority3-100.0.0.3.csv',
 'data/argus/csv/myMarkovServer0-101.0.0.10.csv',
 'data/argus/csv/4uthority2-100.0.0.2.csv',
 'data/argus/csv/client-to-isp.csv',
 'data/argus/csv/myMarkovClient1-127.0.0.1.csv',
 'data/argus/csv/4uthority3-127.0.0.1.csv',
 'data/argus/csv/relay4middle-127.0.0.1.csv',
 'data/argus/csv/tld.csv',
 'data/argus/csv/relay1exitguard-179.43.160.234.csv',
 'data/argus/csv/myMarkovServer0-127.0.0.1.csv',
 'data/argus/csv/lo-resolver.csv',
 'data/argus/csv/relay2exit-127.0.0.1.csv']

In [11]:
# Basic Scopes
import re

# Get all clients and ISP dns scope
r = re.compile(".*isp.csv|.*Client[0-9]*-(?!127\.0\.0\.1)[0-9]*.[0-9]*.[0-9]*.[0-9]*..csv")
ISP_scope = list(filter(r.match, data))

# Access to public resolver scope
r = re.compile(".*isp.csv")
Access_resolver = list(filter(r.match, data))

# DNS Scope
r = re.compile("(.*tld|.*root-server|.*sld).csv")
Access_to_auth_zone = list(filter(r.match, data))

# Access Tor Scope
r = re.compile(".*Client[0-9]*-(?!127\.0\.0\.1)[0-9]*.[0-9]*.[0-9]*.[0-9]*..csv")
Access_tor = list(filter(r.match, data))

# Server Public Scope
r = re.compile(".*myMarkovServer[0-9]*-(?!127\.0\.0\.1)[0-9]*\.[0-9]*\.[0-9]*\.[0-9]*.csv")
Server_scope = list(filter(r.match, data))

# tor Exit scope
r = re.compile(".*exit.*")
Tor_exit_Scope = list(filter(r.match, data))

# tor Guard scope
r = re.compile(".*guard.*")
Tor_guard_Scope = list(filter(r.match, data))

# tor Relay scope
r = re.compile(".*relay.*")
Tor_relay_Scope = list(filter(r.match, data))

# tor Middle scope
r = re.compile(".*middle.*")
Tor_middle_Scope = list(filter(r.match, data))

# tor 4uthority scope
r = re.compile(".*4uthority.*")
Tor_4uthority_Scope = list(filter(r.match, data))
Access_tor

['data/argus/csv/myMarkovClient1-102.0.0.11.csv',
 'data/csv/myMarkovClient1-102.0.0.11.csv']

In [12]:
# !pip install pyts

from pyts.metrics import dtw, itakura_parallelogram, sakoe_chiba_band
from pyts.metrics.dtw import (cost_matrix, accumulated_cost_matrix,
                              _return_path, _blurred_path_region)

def compare_ts(ts1, ts2):
    dtw_classic, path_classic = dtw(ts1, ts2, dist='square',
                                method='classic', return_path=True)
    return dtw_classic

In [13]:
from pyts.datasets import load_gunpoint

X, _, _, _ = load_gunpoint(return_X_y=True)
x, y = X[0], X[1]

In [14]:
compare_ts(x, y)

0.43268499970930435

In [15]:
def get_ts(df, attr_list):
    return 1

In [16]:
def multi_to_single_tda(ts):
    return ts

In [17]:
def pcap_only(lis):
    r = re.compile(".*data/csv.*")
    return list(filter(r.match, lis))

def format_time_col(df, time_col):
    time_format='%b %d, %Y %X.%f'
    df[time_col] = df[time_col].apply(lambda x: datetime.strptime(x[:-7], time_format))
    df.set_index(time_col)
    return df

def scope_to_df(scope):
    df = pd.DataFrame()
    for f in scope:
        ddf = pd.read_csv (f)
        df = pd.concat([df, ddf])
    return df

In [18]:
from datetime import datetime

def df_to_ts(df):
    df['count'] = 1
    return df.set_index('frame.time').resample('T').sum().dropna().reset_index()

In [19]:
# get start time for GNS3
GNS3_data = format_time_col(scope_to_df(pcap_only(Access_resolver + Access_to_auth_zone)), 'frame.time')
GNS3_starttime = GNS3_data.head(1)['frame.time'].tolist()[0]
Shadow_starttime = datetime.strptime('Dec 31, 1969 19:30:00', '%b %d, %Y %X')
Shadow_offset = GNS3_starttime - Shadow_starttime
Shadow_offset

Timedelta('19326 days 16:26:49.390748')

In [20]:
dns_df = format_time_col(scope_to_df(pcap_only(Access_to_auth_zone)), 'frame.time')
# get Just DNS packets from capture
DNS_PROTO = 17.0
dns_df_filtered = dns_df[dns_df['ip.proto'] == DNS_PROTO]
# just get DNS requests
dns_df_filtered = dns_df_filtered[dns_df_filtered['ip.dst'] == "172.16.1.10"]

dns_ts = df_to_ts(dns_df_filtered)
dns_ts

           frame.time  frame.number  ip.proto  frame.len  count
0 2022-11-30 11:58:00           168     119.0        563      7

In [24]:
server_df = format_time_col(scope_to_df(pcap_only(Server_scope)), 'frame.time')

sus_ip = "179.43.160.234"

# Get sus Server posts
TCP_PROTO = 6.0
server_df = server_df[server_df['ip.proto'] == TCP_PROTO]
server_df = server_df[server_df['frame.len'] >64]
server_df['frame.time'] = server_df['frame.time'].apply(lambda x: x + Shadow_offset)

server_df['flowID'] = server_df['ip.src'] + "->"+server_df['ip.dst']

to_sus = server_df[server_df['ip.dst'] == sus_ip].copy()
from_sus = server_df[server_df['ip.src'] == sus_ip].copy()

to_sus_ts = df_to_ts(to_sus)


to_sus_ts

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:56:00             5         6        132      1
1  2022-11-30 11:57:00             0         0          0      0
2  2022-11-30 11:58:00            16         6        132      1
3  2022-11-30 11:59:00             0         0          0      0
4  2022-11-30 12:00:00            27         6        132      1
5  2022-11-30 12:01:00            38         6        132      1
6  2022-11-30 12:02:00            49         6        132      1
7  2022-11-30 12:03:00            60         6        132      1
8  2022-11-30 12:04:00             0         0          0      0
9  2022-11-30 12:05:00            71         6        132      1
10 2022-11-30 12:06:00             0         0          0      0
11 2022-11-30 12:07:00             0         0          0      0
12 2022-11-30 12:08:00             0         0          0      0
13 2022-11-30 12:09:00             0         0          0      0
14 2022-11-30 12:10:00             0         0          0      0
15 2022-11-30 12:11:00             0         0          0      0
16 2022-11-30 12:12:00             0         0          0      0
17 2022-11-30 12:13:00             0         0          0      0
18 2022-11-30 12:14:00             0         0          0      0
19 2022-11-30 12:15:00             0         0          0      0
20 2022-11-30 12:16:00             0         0          0      0
21 2022-11-30 12:17:00             0         0          0      0
22 2022-11-30 12:18:00           159         6        132      1
23 2022-11-30 12:19:00           170         6        132      1
24 2022-11-30 12:20:00           181         6        132      1
25 2022-11-30 12:21:00           192         6        132      1
26 2022-11-30 12:22:00             0         0          0      0
27 2022-11-30 12:23:00           203         6        132      1
28 2022-11-30 12:24:00             0         0          0      0
29 2022-11-30 12:25:00           214         6        132      1

In [25]:
from_sus_ts = df_to_ts(from_sus)
from_sus_ts

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:56:00             4         6        200      1
1  2022-11-30 11:57:00             0         0          0      0
2  2022-11-30 11:58:00            15         6        200      1
3  2022-11-30 11:59:00             0         0          0      0
4  2022-11-30 12:00:00            26         6        201      1
5  2022-11-30 12:01:00            37         6        200      1
6  2022-11-30 12:02:00            48         6        201      1
7  2022-11-30 12:03:00            59         6        200      1
8  2022-11-30 12:04:00             0         0          0      0
9  2022-11-30 12:05:00            70         6        200      1
10 2022-11-30 12:06:00             0         0          0      0
11 2022-11-30 12:07:00             0         0          0      0
12 2022-11-30 12:08:00             0         0          0      0
13 2022-11-30 12:09:00             0         0          0      0
14 2022-11-30 12:10:00             0         0          0      0
15 2022-11-30 12:11:00             0         0          0      0
16 2022-11-30 12:12:00             0         0          0      0
17 2022-11-30 12:13:00             0         0          0      0
18 2022-11-30 12:14:00             0         0          0      0
19 2022-11-30 12:15:00             0         0          0      0
20 2022-11-30 12:16:00             0         0          0      0
21 2022-11-30 12:17:00             0         0          0      0
22 2022-11-30 12:18:00           158         6        200      1
23 2022-11-30 12:19:00           169         6        200      1
24 2022-11-30 12:20:00           180         6        201      1
25 2022-11-30 12:21:00           191         6        200      1
26 2022-11-30 12:22:00             0         0          0      0
27 2022-11-30 12:23:00           202         6        200      1
28 2022-11-30 12:24:00             0         0          0      0
29 2022-11-30 12:25:00           213         6        200      1

In [26]:
# just to confirm DWT is working
compare_ts(to_sus_ts['count'], from_sus_ts['count'])

0.0

In [27]:
from datetime import timedelta
# get sus IPs from DNS
dns_ts_candidates = dns_ts[dns_ts['frame.time'] - from_sus_ts.head(1)['frame.time'] <= timedelta(minutes=2)]
dns_ts_candidates

           frame.time  frame.number  ip.proto  frame.len  count
0 2022-11-30 11:58:00           168     119.0        563      7

In [28]:
# PoL before and after ToR
access_tor_df = format_time_col(scope_to_df(pcap_only(Access_tor)), 'frame.time')

# Get sus Server posts
access_tor_df = access_tor_df[access_tor_df['ip.proto'] == TCP_PROTO]
access_tor_df = access_tor_df[access_tor_df['frame.len'] >1400]
access_tor_df['frame.time'] = access_tor_df['frame.time'].apply(lambda x: x + Shadow_offset)

access_tor_df

,frame.number,frame.time,ip.src,ip.dst,ip.proto,frame.len
8,9,2022-11-30 11:30:50.690748,100.0.0.2,102.0.0.11,6,1500
16,17,2022-11-30 11:30:51.001748,100.0.0.2,102.0.0.11,6,1500
17,18,2022-11-30 11:30:51.001748,100.0.0.2,102.0.0.11,6,1500
22,23,2022-11-30 11:30:51.111748,100.0.0.2,102.0.0.11,6,1500
23,24,2022-11-30 11:30:51.111748,100.0.0.2,102.0.0.11,6,1500
25,26,2022-11-30 11:30:51.111748,100.0.0.2,102.0.0.11,6,1500
36,37,2022-11-30 11:30:51.411748,179.43.160.234,102.0.0.11,6,1500
44,45,2022-11-30 11:30:51.722748,179.43.160.234,102.0.0.11,6,1500
55,56,2022-11-30 11:30:52.690748,185.82.127.11,102.0.0.11,6,1500
267,268,2022-11-30 11:33:56.402731,102.0.0.11,185.82.127.11,6,1500
381,382,2022-11-30 11:34:58.407067,102.0.0.11,185.82.127.11,6,1500
492,493,2022-11-30 11:37:02.416132,102.0.0.11,179.43.160.234,6,1500
541,542,2022-11-30 11:37:33.418665,102.0.0.11,185.82.127.11,6,1500
621,622,2022-11-30 11:38:35.423921,102.0.0.11,185.82.127.11,6,1500
706,707,2022-11-30 11:40:08.429923,102.0.0.11,179.43.160.234,6,1500
783,784,2022-11-30 11:41:10.437210,102.0.0.11,185.82.127.11,6,1500
851,852,2022-11-30 11:41:53.650658,179.43.160.234,102.0.0.11,6,1500
926,927,2022-11-30 11:43:14.444499,102.0.0.11,179.43.160.234,6,1500
1055,1056,2022-11-30 11:44:58.453633,102.0.0.11,185.82.127.11,6,1500
1156,1157,2022-11-30 11:46:20.456335,102.0.0.11,179.43.160.234,6,1500
1198,1199,2022-11-30 11:46:32.667959,179.43.160.234,102.0.0.11,6,1500
1326,1327,2022-11-30 11:48:35.466355,102.0.0.11,185.82.127.11,6,1500
1390,1391,2022-11-30 11:49:26.468815,102.0.0.11,179.43.160.234,6,1500
1421,1422,2022-11-30 11:49:28.769879,100.0.0.1,102.0.0.11,6,1500
1632,1633,2022-11-30 11:52:01.484035,102.0.0.11,185.82.127.11,6,1500
1692,1693,2022-11-30 11:52:32.488722,102.0.0.11,179.43.160.234,6,1500
1713,1714,2022-11-30 11:52:33.789224,100.0.0.2,102.0.0.11,6,1500
1971,1972,2022-11-30 11:54:52.807460,85.204.116.214,102.0.0.11,6,1500
1979,1980,2022-11-30 11:54:53.118460,85.204.116.214,102.0.0.11,6,1500
2056,2057,2022-11-30 11:55:38.512634,102.0.0.11,179.43.160.234,6,1500
2443,2444,2022-11-30 11:59:15.536868,102.0.0.11,185.82.127.11,6,1500
2522,2523,2022-11-30 12:00:17.540787,102.0.0.11,185.82.127.11,6,1500
2637,2638,2022-11-30 12:01:50.548748,102.0.0.11,179.43.160.234,6,1500
2663,2664,2022-11-30 12:01:51.849380,100.0.0.1,102.0.0.11,6,1500
2778,2779,2022-11-30 12:02:59.767380,185.82.127.11,102.0.0.11,6,1500
2843,2844,2022-11-30 12:03:54.561380,102.0.0.11,185.82.127.11,6,1500
3317,3318,2022-11-30 12:10:13.807796,179.43.160.234,102.0.0.11,6,1500
3704,3705,2022-11-30 12:15:48.828182,179.43.160.234,102.0.0.11,6,1500
4313,4314,2022-11-30 12:24:06.964268,85.204.116.214,102.0.0.11,6,1500
4321,4322,2022-11-30 12:24:07.275268,85.204.116.214,102.0.0.11,6,1500

In [29]:
# make flow pairs and group by 
access_tor_df['flowID'] = access_tor_df['ip.src'] + "_to_"+access_tor_df['ip.dst']
d = {}
for name, group in access_tor_df.groupby(['flowID']):
    print(name)
    d[name] = group
    group_ts = df_to_ts(group)
    print(len(group_ts))
    if len(group_ts) > 1:
        print("Sim: " + str(compare_ts(from_sus_ts['count'], group_ts['count'])))
    else:
        print("Sim: inf")
    print("\n")
    # print(compare_ts(from_sus_ts['count'],

100.0.0.1_to_102.0.0.11
13
Sim: 2.23606797749979


100.0.0.2_to_102.0.0.11
23
Sim: 5.744562646538029


102.0.0.11_to_179.43.160.234
25
Sim: 1.0


102.0.0.11_to_185.82.127.11
31
Sim: 1.0


179.43.160.234_to_102.0.0.11
46
Sim: 1.7320508075688772


185.82.127.11_to_102.0.0.11
33
Sim: 2.23606797749979


85.204.116.214_to_102.0.0.11
31
Sim: 3.605551275463989

In [30]:
from_sus_ts

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:56:00             4         6        200      1
1  2022-11-30 11:57:00             0         0          0      0
2  2022-11-30 11:58:00            15         6        200      1
3  2022-11-30 11:59:00             0         0          0      0
4  2022-11-30 12:00:00            26         6        201      1
5  2022-11-30 12:01:00            37         6        200      1
6  2022-11-30 12:02:00            48         6        201      1
7  2022-11-30 12:03:00            59         6        200      1
8  2022-11-30 12:04:00             0         0          0      0
9  2022-11-30 12:05:00            70         6        200      1
10 2022-11-30 12:06:00             0         0          0      0
11 2022-11-30 12:07:00             0         0          0      0
12 2022-11-30 12:08:00             0         0          0      0
13 2022-11-30 12:09:00             0         0          0      0
14 2022-11-30 12:10:00             0         0          0      0
15 2022-11-30 12:11:00             0         0          0      0
16 2022-11-30 12:12:00             0         0          0      0
17 2022-11-30 12:13:00             0         0          0      0
18 2022-11-30 12:14:00             0         0          0      0
19 2022-11-30 12:15:00             0         0          0      0
20 2022-11-30 12:16:00             0         0          0      0
21 2022-11-30 12:17:00             0         0          0      0
22 2022-11-30 12:18:00           158         6        200      1
23 2022-11-30 12:19:00           169         6        200      1
24 2022-11-30 12:20:00           180         6        201      1
25 2022-11-30 12:21:00           191         6        200      1
26 2022-11-30 12:22:00             0         0          0      0
27 2022-11-30 12:23:00           202         6        200      1
28 2022-11-30 12:24:00             0         0          0      0
29 2022-11-30 12:25:00           213         6        200      1

In [36]:
d["102.0.0.11_to_185.82.127.11"]

,frame.number,frame.time,ip.src,ip.dst,ip.proto,frame.len,flowID,count
267,268,2022-11-30 11:33:56.402731,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
381,382,2022-11-30 11:34:58.407067,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
541,542,2022-11-30 11:37:33.418665,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
621,622,2022-11-30 11:38:35.423921,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
783,784,2022-11-30 11:41:10.437210,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
1055,1056,2022-11-30 11:44:58.453633,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
1326,1327,2022-11-30 11:48:35.466355,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
1632,1633,2022-11-30 11:52:01.484035,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
2443,2444,2022-11-30 11:59:15.536868,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
2522,2523,2022-11-30 12:00:17.540787,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1
2843,2844,2022-11-30 12:03:54.561380,102.0.0.11,185.82.127.11,6,1500,102.0.0.11_to_185.82.127.11,1

In [38]:
maybe = df_to_ts(d["102.0.0.11_to_185.82.127.11"])
maybe

            frame.time  frame.number  ip.proto  frame.len  count
0  2022-11-30 11:33:00           268         6       1500      1
1  2022-11-30 11:34:00           382         6       1500      1
2  2022-11-30 11:35:00             0         0          0      0
3  2022-11-30 11:36:00             0         0          0      0
4  2022-11-30 11:37:00           542         6       1500      1
5  2022-11-30 11:38:00           622         6       1500      1
6  2022-11-30 11:39:00             0         0          0      0
7  2022-11-30 11:40:00             0         0          0      0
8  2022-11-30 11:41:00           784         6       1500      1
9  2022-11-30 11:42:00             0         0          0      0
10 2022-11-30 11:43:00             0         0          0      0
11 2022-11-30 11:44:00          1056         6       1500      1
12 2022-11-30 11:45:00             0         0          0      0
13 2022-11-30 11:46:00             0         0          0      0
14 2022-11-30 11:47:00             0         0          0      0
15 2022-11-30 11:48:00          1327         6       1500      1
16 2022-11-30 11:49:00             0         0          0      0
17 2022-11-30 11:50:00             0         0          0      0
18 2022-11-30 11:51:00             0         0          0      0
19 2022-11-30 11:52:00          1633         6       1500      1
20 2022-11-30 11:53:00             0         0          0      0
21 2022-11-30 11:54:00             0         0          0      0
22 2022-11-30 11:55:00             0         0          0      0
23 2022-11-30 11:56:00             0         0          0      0
24 2022-11-30 11:57:00             0         0          0      0
25 2022-11-30 11:58:00             0         0          0      0
26 2022-11-30 11:59:00          2444         6       1500      1
27 2022-11-30 12:00:00          2523         6       1500      1
28 2022-11-30 12:01:00             0         0          0      0
29 2022-11-30 12:02:00             0         0          0      0
30 2022-11-30 12:03:00          2844         6       1500      1

In [39]:
compare_ts(from_sus_ts['count'], maybe['count'])

1.0

In [40]:
!pip install Cython
!pip install Ripser

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Cython in /home/taylor/.local/lib/python3.10/site-packages (0.29.32)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Ripser in /home/taylor/.local/lib/python3.10/site-packages (0.6.4)
Requirement already satisfied: scipy in /usr/lib/python3/dist-packages (from Ripser) (1.8.0)
Requirement already satisfied: Cython in /home/taylor/.local/lib/python3.10/site-packages (from Ripser) (0.29.32)
Requirement already satisfied: persim in /home/taylor/.local/lib/python3.10/site-packages (from Ripser) (0.3.1)
Requirement already satisfied: numpy in /usr/lib/python3/dist-packages (from Ripser) (1.21.5)
Requirement already satisfied: scikit-learn in /home/taylor/.local/lib/python3.10/site-packages (from Ripser) (1.1.2)
Requirement already satisfied: matplotlib in /usr/lib/python3/dist-packages (from persim->Ripser) (3.5.1)
Requirement already satisfied: deprecated in /home/taylor/.local/lib/python3.10/site-packages (from persim->Ripser) (1.2.13)
Requirement already satisfied: hopcroftkarp in /home/taylor/.local/lib/python3.10/site-packages (from persim->Ripser) (1.2.5)
Requirement already satisfied: joblib in /home/taylor/.local/lib/python3.10/site-packages (from persim->Ripser) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/taylor/.local/lib/python3.10/site-packages (from scikit-learn->Ripser) (3.1.0)
Requirement already satisfied: wrapt<2,>=1.10 in /home/taylor/.local/lib/python3.10/site-packages (from deprecated->persim->Ripser) (1.14.1)

In [41]:
import numpy as np
from ripser import ripser
from persim import plot_diagrams
from sklearn import preprocessing

def rip_ts(window, dim, skip, data):
    for_pl = {}
    for i in range(0, len(data)-window+1, skip):
        diagrams = ripser(data[i:i+window])['dgms']
        for_pl[i] = diagrams[dim]
    return for_pl

def save_bd_to_files(header, data):
    for d in data:
        np.savetxt(header + "_"+ str(d) + '.csv', data[d], delimiter=" ", fmt="%f")

In [42]:
# read in files to ts
import glob

#l2 norm 
def landscape_to_l2norm(l):
    sum = 0
    for i in range(0, len(l)-1):
        height = abs(l.iloc[i][1] - l.iloc[i+1][1])
        base = abs(l.iloc[i][0] - l.iloc[i+1][0])
        sum += (height*base)/2
    return sum

def rpls_to_ts(header, skip, norm):
    header = header + "_"
    tail = '.csv.pl'
    files = glob.glob(header+'*'+tail)
    data = {}
    max_num = 0
    for f in files:
        num = int(re.search(header + '(.+?)'+ tail, f).group(1))
        if num > max_num:
            max_num = num
        data[num] = norm(pd.read_csv(f, header=None).dropna())
    max_num += 1
    output = [None] * int((max_num)/skip)
    for i in range(0,max_num, skip):
        if i in data:
            output[int(i/skip)] = data[i]
        else:
            output[int(i/skip)] = 0
    return output

In [43]:
# compute birth death pairs
dim = 0 # must be greater than or equal to 0
window = 3 # must be greater than or equal to 3
skip = 1 # must be greater than or equal to 1

In [44]:
def ts_to_tda(data, features, dim, window, skip, header):
    # select features
    data_2d = data[features].to_numpy()

    # min max normalize features
    data_2d_norm = preprocessing.normalize(data_2d, norm='max', axis=0)

    # compute birth death pairs
    rip_data = rip_ts(window, dim, skip, data_2d_norm)
    save_bd_to_files(header, rip_data)

    !../util/rpls_proccess.sh $header

    data_tda = rpls_to_ts(header, skip, landscape_to_l2norm)
    return data_tda

In [45]:
from_sus_tda = ts_to_tda(from_sus_ts, ['count', 'frame.len'], dim, window, skip, "from_sus")

In [46]:
maybe_tda = ts_to_tda(maybe, ['count', 'frame.len'], dim, window, skip, "maybe")

In [47]:
compare_ts(from_sus_tda, maybe_tda)

0.01395525617855616

In [48]:
for i in d:
    print(i)
    ts = df_to_ts(d[i])
    if len(ts) < 2:
        print("TS too short\n")
        continue
    i_tda = ts_to_tda(ts, ['count', 'frame.len'], dim, window, skip, i)
    sim = compare_ts(from_sus_tda, i_tda)
    print("Sim:" + str(sim)+ "\n")

100.0.0.1_to_102.0.0.11
Sim:0.9975763865006569

100.0.0.2_to_102.0.0.11
Sim:1.3791869333214652

102.0.0.11_to_179.43.160.234
Sim:0.9976041679116638

102.0.0.11_to_185.82.127.11
Sim:0.01395525617855616

179.43.160.234_to_102.0.0.11
Sim:1.2003157420646782

185.82.127.11_to_102.0.0.11
Sim:0.9975763865006569

85.204.116.214_to_102.0.0.11
Sim:0.9975763865006569